@using UranusAdmin.Dto
@model IEnumerable<TestDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Tests</h2>
    <table>
        <tr>
            <th>Question</th>
            <th>Answer 1</th>
            <th>Answer 2</th>
            <th>Answer 3</th>
            <th>Answer 4</th>
            <th>Correct Answer</th>
            <th>Points</th>
            <th>Course</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Question</td>
                <td>@item.Answer1</td>
                <td>@item.Answer2</td>
                <td>@item.Answer3</td>
                <td>@item.Answer4</td>
                <td>@item.CorrectAnswer</td>
                <td>@item.Points</td>
                <td>@item.Course.Name</td>
                <td><button onclick="location.href = '@Url.Action("Update", "Tests", new {id = item.Id})'">Edit</button></td>
                <td><button onclick="location.href = '@Url.Action("Delete", "Tests", new {id = item.Id})'">Delete</button></td>
            </tr>
        }
    </table>
    <br />
    <button onclick="window.location.href = '@Url.Action("Create", "Tests")'">Create Test</button>
</div>
