@using UranusAdmin.Dto
@model IEnumerable<CourseDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Courses</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td><button onclick="location.href = '@Url.Action("Details", "Courses", new {id = item.Id})'">Details</button></td>
                <td><button onclick="location.href = '@Url.Action("Update", "Courses", new {id = item.Id})'">Edit</button></td>
                <td><button onclick="location.href = '@Url.Action("Delete", "Courses", new {id = item.Id})'">Delete</button></td>
            </tr>
        }
    </table>
    <br />
    <button onclick="location.href = '@Url.Action("Create", "Courses")'">Create Course</button>
</div>