@using UranusAdmin.Dto
@model IEnumerable<LessonDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Lessons</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Course</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.Course.Name</td>
                <td><button onclick="location.href = '@Url.Action("Update", "Lessons", new {id = item.Id})'">Edit</button></td>
                <td><button onclick="location.href = '@Url.Action("Delete", "Lessons", new {id = item.Id})'">Delete</button></td>
            </tr>
        }
    </table>
    <br />
    <button onclick="location.href = '@Url.Action("Create", "Lessons")'">Create Lesson</button>
</div>