@using UranusAdmin.Dto
@model IEnumerable<MaterialDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Materials</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <a href="d:\jobs\napa\tasks\uranusadmin\views\materials\index.cshtml">d:\jobs\napa\tasks\uranusadmin\views\materials\index.cshtml</a>
            <th>Homework</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Url</td>
                <td>@item.Homework.Title</td>
                <td><button onclick="location.href = '@Url.Action("Update", "Materials", new {id = item.Id})'">Edit</button></td>
                <td><button onclick="location.href = '@Url.Action("Delete", "Materials", new {id = item.Id})'">Delete</button></td>
            </tr>
        }
    </table>
    <br />
    <button onclick="location.href = '@Url.Action("Create", "Materials")'">Create Material</button>
</div>