@using UranusAdmin.Dto
@model IEnumerable<DocDto>

<style>
    table td, table th, table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<div id="container">
    <h2 id="header">Docs</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Lesson</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Url</td>
                <td>@item.Lesson.Title</td>
                <td><button onclick="location.href = '@Url.Action("Details", "Docs", new {id = item.Id})'">Details</button></td>
                <td><button onclick="location.href = '@Url.Action("Update", "Docs", new {id = item.Id})'">Edit</button></td>
                <td><button onclick="location.href = '@Url.Action("Delete", "Docs", new {id = item.Id})'">Delete</button></td>
            </tr>
        }
    </table>
    <br />
    <button onclick="location.href = '@Url.Action("Create", "Docs")'">Create Doc</button>
</div>